body {
  height: 100vh;
}

/*NAVIGATION*/

.navigation {
  position: relative;
  height: 78px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-box {
  position: absolute;
  left: 650px;
  display: flex;
  list-style-type: none;
  align-items: center;
}

.logo-img {
  position: absolute;
  left: 143.92px;
  max-width: 185.34px;
  width: 100%;
  height: 31.97px;
}

.navigation-box li {
  margin-right: 20px;
}

.navigation-box li a {
  text-decoration: none;
  color: #2f281e;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.button-container {
  position: absolute;
  left: 1029px;
}

.sign-up-btn {
  width: 102px;
  height: 46px;
  border-radius: 4px;
  background-color: #ff9900;
  color: white;
  margin-left: 10px;
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-align: center;
  margin: 0;
  font-size: 16px;
  cursor: pointer;
}

.sign-in-btn {
  width: 102px;
  height: 46px;
  border-radius: 4px;
  border: 1px solid #bcd0e5;
  background-color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  margin: 0;
  color: #173a56;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}

.navigation-box li a:hover,
.sign-in-btn:hover,
.sign-up-btn:hover,
.get-started-btn:hover,
.watch-the-video-btn:hover,
.sign-up-now-btn:hover,
.submit-btn:hover {
  opacity: 0.8;
}

/*0.2 HEADER*/

.header-container {
  position: relative;
  top: 30px;
  left: 145px;
  right: 129px;
  max-width: 1126px;
  width: 100%;
  min-height: 496px;
}

.text-container-header {
  position: absolute;
  top: 113px;
  max-width: 518px;
  width: 100%;
  max-height: 331px;
  height: 100%;
}

.main-title-header {
  position: absolute;
  margin: 0px;
  font-family: "Poppins", system-ui;
  font-weight: 700;
  font-style: normal;
  font-size: 44px;
  line-height: 54px;
  color: #2f281e;
  max-width: 518px;
}

.main-text-header {
  position: absolute;
  top: 120px;
  max-width: 458px;
  width: 100%;
  max-height: 95px;
  height: 100%;
  color: #544837;
  font-size: 18px;
  font-family: "Poppins", system-ui;
  font-weight: 300;
  font-style: normal;
  line-height: 28px;
}

.img-container {
  position: absolute;
  top: 0px;
  right: 0px;
}

.dance-img {
  max-width: 605px;
  width: 100%;
  max-height: 496px;
  height: 100%;
}

.btn-container {
  position: absolute;
  bottom: 0;
  width: 366px;
  height: 53px;
}

.get-started-btn {
  width: 175px;
  height: 53px;
  background-color: #ff9900;
  border-radius: 4px;
  border-style: none;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: white;
  cursor: pointer;
}

.watch-the-video-btn {
  position: absolute;
  left: 205px;
  top: 15px;
  width: 161px;
  height: 23px;
  cursor: pointer;
}

.video-btn-text {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #ff9900;
  text-decoration: underline;
}

/*Feature - First container */

.feauture-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 1126px;
  width: 100%;
  min-height: 543px;
  position: relative;
  left: 145px;
  top: 100px;
}

.feature-title {
  text-align: center;
  max-width: 539px;
  width: 100%;
  color: #2f281e;
  font-family: "Poppins", system-ui;
  font-weight: 700;
  font-size: 36px;
  margin: 0px;
}

.card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
  margin-top: 70px;
}

.icon-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 240px;
  width: 100%;
  height: 178px;
}

.icon {
  max-width: 51px;
  width: 100%;
  min-height: 50px;
  margin-bottom: 20px;
}

.text-container-card {
  text-align: left;
}

.main-title-card {
  color: #2f281e;
  font-size: 22px;
  font-family: "Poppins", system-ui;
  font-weight: 600;
  margin-bottom: 5px;
}

.main-text-card {
  color: #544837;
  font-size: 16px;
  font-family: "Poppins", system-ui;
  font-weight: 500;
  line-height: 26px;
}

.sign-up-now-btn {
  max-width: 175px;
  width: 100%;
  min-height: 53px;
  border-style: none;
  background-color: #ff9900;
  color: white;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  cursor: pointer;
}

.purple-icon {
  margin-left: 0;
}

.yellow-icon {
  margin-left: 40px;
}

.red-icon {
  margin-left: 40px;
}

.blue-icon {
  margin-left: 40px;
}

/*Effortless Validation - Second container*/

.validation-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1110px;
  width: 100%;
  min-height: 543px;
  margin: 0;
  padding: 20px;
  position: relative;
  left: 145px;
  top: 150px;
}

.accessory-title {
  top: 211px;
}

.alterationists-title {
  top: 326px;
}

.custom-design-title {
  top: 441px;
}

.sub-text-accessory {
  position: absolute;
  top: 249px;
  font-family: "Poppins", system-ui;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
}

.sub-text-alterationists {
  position: absolute;
  top: 364px;
  font-family: "Poppins", system-ui;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
}
.sub-text-custom-design {
  position: absolute;
  top: 479px;
  font-family: "Poppins", system-ui;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
}

.effortless-img {
  position: absolute;
  top: 3px;
  right: 0px;
  max-width: 520px;
  width: 100%;
  height: 574px;
}

/*Product Managers - Third container*/

.managers-container {
  position: relative;
  left: 145px;
  top: 218px;
  max-width: 1121px;
  width: 100%;
  height: 521px;
}

.manager-img {
  position: absolute;
  top: 0px;
  max-width: 535px;
  width: 100%;
  max-height: 521px;
  height: 100%;
}

.text-container-position {
  right: 0;
  top: 49px;
  height: 427px;
}

.list-container {
  position: absolute;
  top: 30px;
  width: 450px;
}

.list-icon {
  position: absolute;
  left: 9px;
}

.first-icon-position {
  top: 211px;
}

.second-icon-position {
  top: 301px;
}

.third-icon-position {
  top: 383px;
}

.list-text {
  position: absolute;
  margin: 0;
  font-family: "Poppins", system-ui;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 26px;
}

.first-text-position {
  top: 211px;
  left: 65px;
}

.second-text-position {
  top: 293px;
  left: 65px;
}

.third-text-position {
  top: 375px;
  left: 65px;
}

/*Marketers - Fourth container*/

.marketers-container {
  position: relative;
  left: 145px;
  top: 304px;
  max-width: 1110px;
  width: 100%;
  height: 609px;
}

.marketers-img {
  position: absolute;
  right: 0px;
  max-width: 542px;
  width: 100%;
  max-height: 609px;
  height: 100%;
}

/*General text-css*/

.small-text {
  position: absolute;
  margin: 0;
  font-family: "Poppins", system-ui;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
}

.main-titel {
  position: absolute;
  font-family: "Poppins", system-ui;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
}
.main-text {
  position: absolute;
  top: 103px;
  font-family: "Poppins", system-ui;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 26px;
}

.subheading {
  font-family: "Poppins", system-ui;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  position: absolute;
}

.text-container {
  position: absolute;
  top: 26px;
  max-width: 486px;
  width: 100%;
  height: 513px;
}

/*Footer*/

footer {
  position: relative;
  left: 145px;
  top: 446px;
  bottom: 83px;
  max-width: 1109px;
  width: 100%;
  height: 308px;
  border-top: #979797 solid 0.5px;
}

.logo-img-footer {
  position: absolute;
  top: 102px;
  left: 13px;
  max-width: 185.34px;
  width: 100%;
  height: 31.97px;
}

.footer-list-container {
  position: absolute;
  left: 324px;
  top: 167px;
  list-style: none;
  font-family: "Poppins", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 35px;
  padding-bottom: 50px;
}

.right-list-position {
  left: 571px;
  top: 167px;
}

.input-container {
  position: relative;
  left: 784px;
  top: 102px;
  max-width: 325px;
  width: 100%;
  max-height: 199px;
  height: 100%;
}

.input-field {
  position: absolute;
  top: 91px;
  max-width: 325px;
  width: 100%;
  max-height: 48px;
  height: 100%;
}

.submit-btn {
  position: absolute;
  left: 0px;
  top: 160px;
  width: 131px;
  height: 39px;
  background-color: #ff9900;
  border-style: none;
  border-radius: 4px;
  font-family: "Poppins", system-ui;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  color: white;
  cursor: pointer;
}
